#body{
	background-color:black;
	color:white;
}
#gos{
	color:purple;
}
#info{
	color:red;
}
#who{
	color:yellow;
}
#con{
        color:yellow;
}
h1{
	color:blue;
	margin-left:140px;
}
td{
	width:80px;
}

